# Data inspection

Import the necessay packages

In [83]:
import pandas as pd

Load the data with the Pandas package.

In [100]:
data = pd.read_csv('data/data.csv', index_col = 0)

To get a first impression of the data, we display the first 4 columns using the head() function.

In [101]:
data.head(4)

,identifier,type,title,date,content,subcategory,category,Year,DL score,spatial
13,http://resolver.kb.nl/resolve?urn=ddd:01010307...,artikel,REGELING VAN OEN ZOMERDIENST.,1877/06/21 00:00:00,JNaar aanleiding ran het in ons nommer van 29 ...,trein,trien,1877,72.819315,Landelijk
24,http://resolver.kb.nl/resolve?urn=ddd:01106750...,artikel,Bij de aanstaande winterdienstregeling,1880/09/15 00:00:00,Bij de aanstaande winterdienstregeling op de S...,trein,trein,1880,72.188139,Landelijk
25,http://resolver.kb.nl/resolve?urn=MMKB23:00142...,advertentie,Advertentie,1883/06/23 00:00:00,"W.H.C.DEBOCK, Piet Heinstraat, 43. (6108) BADG...",trein,trein,1883,45.115453,Landelijk
52,http://resolver.kb.nl/resolve?urn=ddd:01106783...,artikel,In ons artikel: „Waar schuilt het euvel?”,1881/10/25 00:00:00,In ons artikel: „Waar schuilt het euvel?” (13 ...,trein,trein,1881,74.074074,Landelijk

The first step is to check if all the rows of the dataframe are uniques. Sometimes it happends that accidentaly rows are duplicated during data gathering, so it's good practice to perform this check before doing further analyses. 
Pandas had a function 'drop_duplicates()' that can be used to remove duplicates in your dataframe. You can use it to remove rows that are duplicate, but you can also use it for example to remove only rows with duplicate identifiers. 

Add this moment we are only interesting in unique rows. And I do not only want to delete duplicates, but also check it there were any duplicates.

I start with counting the rows in mijn dataframe:

In [102]:
len(data)

34893

Then drop_duplicates. This removes duplicates rows by keeping only one of them.

In [103]:
data = data.drop_duplicates()

And print again the length

In [104]:
len(data)

34881

Now we have dropped all duplicates, we want to look at the indentifiers. We want to compare unique articels so its good to check

In [105]:
data['identifier'].nunique()

34881

After this first inspection rough inspection, we want to see if the content of the columns looks plausible. For the categorial columns, we can print the unique categories that are in there, to check for any anolomies. This can be done with the unique() function.

In [106]:
data['type'].unique()

array(['artikel', 'advertentie', 'familiebericht'], dtype=object)

Bekijk nu zelf de unieke categorieën voor de kolommen subcategory, category and spatial.

In [107]:
## Code for subcategory

In [113]:
## Code for category
data['category'].unique()

array(['trein'], dtype=object)

In [110]:
## Code for spatial

Voor andere kolommmen, zoals data en year, kunnen we kijken naar de minimale en maximale waarde. Aan de hand daarvan kunnen we kijken of deze inderdaad kloppen met de verwachtingn van de dataset qua afbakingen. 

Dit kun je doen met de min() en max() functies.

In [39]:
data['date'].min()

'1869/01/01 00:00:00'

In [40]:
data['date'].max()

'1884/12/31 00:00:00'

Bekijk zelf de min en max van jaar. Komt dit overeen met de min en max van date?

In [41]:
## Code voor jaar min

In [42]:
## Code voor jaar max

Ditzelfde kun je ook doen voor de dictionar score. Hier wordt een waarde tussen de 0 en 100 verwacht, aangezien dit het percentage gevonden woorden is.

In [43]:
## Code voor minimale DL score

In [44]:
## Code voor max DL score

Om te kijken of er geen hele korte of extreem lange artikelen inzitten, kun je de lengte van artikelen uitrekenen en een extra kolom toevoegen met deze lengte. Vervolgens kun je hier ook de min en max van bekijken. Dit kan je gebruiken om te kijken of je bepaalde artikellengtes wil uitsluiten (bijv. artikelen van 0 woorden of juist 10.000 woorden). 

Het berekenen van de lengte toen we heel arbitrair door de artikelen te splitsen op spaties. Deze methode is niet 100% correct maar geeft wel een goed globaal beeld. 

Aanpassingen die je voor alle rijen in een dataframe wilt uitvoeren kun je uitvoeren met onderstaande apply functie.

In [117]:
data['length'] = data['content'].apply(lambda x: len(x.split()))

In [119]:
data.head(2)

,identifier,type,title,date,content,subcategory,category,Year,DL score,spatial,length
13,http://resolver.kb.nl/resolve?urn=ddd:01010307...,artikel,REGELING VAN OEN ZOMERDIENST.,1877/06/21 00:00:00,JNaar aanleiding ran het in ons nommer van 29 ...,trein,trein,1877,72.819315,Landelijk,1284
24,http://resolver.kb.nl/resolve?urn=ddd:01106750...,artikel,Bij de aanstaande winterdienstregeling,1880/09/15 00:00:00,Bij de aanstaande winterdienstregeling op de S...,trein,trein,1880,72.188139,Landelijk,489

In [120]:
data.length.min()

451

In [121]:
data.length.max()

1499

Na deze eerste checks op de inhoud van het dataframe, wil je nog kijken of er geen lege cellen of Nan values in het dataframe voorkomen. (uitleg wat het verschil is?)

In [122]:
data[data.isnull().any(axis= 1)]

,identifier,type,title,date,content,subcategory,category,Year,DL score,spatial,length
6749,http://resolver.kb.nl/resolve?urn=ddd:01010443...,artikel,NaN,1880/06/10 00:00:00,Ter aanvulling van het bericht over de betrekk...,trein,trein,1880,70.072333,Landelijk,1106
30850,http://resolver.kb.nl/resolve?urn=ddd:01006170...,artikel,NaN,1874/01/15 00:00:00,"De Heer L. Hoefman, gezagvoerder van het stoom...",trein,trein,1874,64.586847,Regionaal/lokaal,593
48475,http://resolver.kb.nl/resolve?urn=ddd:01006082...,artikel,NaN,1873/10/10 00:00:00,Na hetgeen wij gisteren omtrent het feest mede...,trein,trein,1873,72.997033,Regionaal/lokaal,674

In [123]:
data = data.dropna()

In [124]:
data[data.isnull().any(axis= 1)]

Empty DataFrame
Columns: [identifier, type, title, date, content, subcategory, category, Year, DL score, spatial, length]
Index: []

Na de aanpassingen kun je het dataframe opslaan.

In [126]:
data.to_csv('data/data_new.csv')